/* Importation du fichier de réinitialisation de Tailwind CSS */
@import "tailwindcss/preflight.css";

/* Corps de la page */
body {
	padding: 1rem;
	background: linear-gradient(
		90deg,
		#F7F5FF 0%,
		#F9E4F6 50%,
		#F6F6FC 100%
	);
	min-height: 100vh;
}