@import "tailwindcss";

body {
    background: linear-gradient(
        90deg,
        #F7F5FF 0%,
        #F9E4F6 50%,
        #F6F6FC 100%
    );
    font-family: "Luciole", sans-serif;
}

@font-face {
    src: url(/assets/fonts/Luciole-Regular.ttf) format("truetype");
    font-style: normal;
    font-family: "Luciole";
    font-weight: 100 900;
    font-display: swap;
}
